<ion-content class="master-bg">

    <div class="ion-padding section-title">
        <ion-text>
            <h1>Forgot your password?</h1>
            <div>Enter Your Email Below</div>
        </ion-text>
    </div>

    <form class="ion-padding">

        <ion-item>
            <ion-input [(ngModel)]="formData.email" name="email" placeholder="Email" required type="email"></ion-input>
        </ion-item>

        <div class="ion-margin-top">
            <ion-button (click)="Forgot()" color="warning" expand="block">Send</ion-button>
            <ion-text class="ion-text-center" routerLink="/login">
                <p>Back</p>
            </ion-text>
        </div>

    </form>
</ion-content>